{% extends "index.html" %}
{% block content %}
<h1>This is an example of embedding my LinkedIn posts with iframe</h1>
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6958680539008524288" height="690" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe><br />
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6924630981689655296" height="1076" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe><br />
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6896793047234142208" height="976" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe><br />
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6896391101218193408" height="505" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe><br />
<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:6881565974831656960" height="1165" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe><br />
{% endblock %}
